# Xcode
#
# gitignoreのメンテナーへ: Global/Xcode.gitignore、Objective-C.gitignore、Swift.gitignoreの更新も忘れないでください。

## macOS
.DS_Store

## ユーザー設定
xcuserdata/

## Obj-C/Swift固有設定
*.hmap

## アプリパッケージ
*.ipa
*.dSYM.zip
*.dSYM

## Playground
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Swift Package Managerの依存関係のソースコードをコミット対象外にする場合は、この行を追加します。
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcodeはこのディレクトリに.xcworkspacedataファイルとxcuserdataを自動生成します。
# そのため、プロジェクトにパッケージ設定ファイルを追加していない限り、コミットする必要はありません。
# .swiftpm

.build/

# CocoaPods
#
# Podsディレクトリを.gitignoreに追加しないことを推奨します。
# ただし、利点と欠点を確認したうえで判断してください。詳細は次を参照してください。
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Xcodeワークスペースのソースコードをコミット対象外にする場合は、この行を追加します。
# *.xcworkspace

# Carthage
#
# Carthageの依存関係のソースコードをコミット対象外にする場合は、この行を追加します。
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# スクリーンショットをgitリポジトリに保存することは推奨しません。
# 必要なときにfastlaneでスクリーンショットを再生成してください。
# 推奨設定の詳細は次を参照してください。
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# devcontainer初期化フラグ
.devcontainer/.init-done
